* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: #262626;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

.nav-bar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-branding {
  font-size: 2rem;
  z-index: 100;
}

.nav-link {
  transition: 0.7s;
}

.nav-link:hover {
  color: #f2462b;
}

.hamburger {
  cursor: pointer;
  display: none;
}

.bar {
  display: block;
  background-color: white;
  width: 25px;
  height: 3px;
  margin: 5px;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  header {
    display: fixed;
  }

  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    background-color: #262626;
    position: fixed;
    left: 0;
    top: -100%;
    width: 100%;
    flex-direction: column;
    gap: 0;
    transition: all 0.3s ease;
  }

  .nav-item {
    margin: 16px;
  }

  .nav-menu.active {
    top: 70px;
  }
}
